body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
}

.input_container {
    padding: 10px;
}

#controls {
    /*background-color: black;*/
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: fit-content;
}

input {
    padding: 10px;
    margin-top: 10px;
    min-width: fit-content;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

#strobeContainer {
    height: 100vh;
    display: flex;
    /*align-items: center;
    justify-content: center;*/
    /*transition: background-color 0.5s;*/
}